:root{
    --bs-navbar-brand-color:white;
    --bs-body-color:white
}

/* General Settings */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: #F5F5F5;
}



.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
}

/* NavBar */
nav{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.navbar-brand{
    color: var(--bs-body-color) !important;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;
}

.nav-item a{
    position: relative;
}

.nav-item .nav-link::after{
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: white;
    transition: all 0.5s;
}

.nav-item > .nav-link:hover:after{
    width: 70%;
}



/* Hero Section start */

.hero{
    background-image:url(../images/hero-bg.jpg);
}

.bg-image {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    color: white !important;
    z-index: 3;
    margin-bottom: 24px;
}

.dynamic-txts{
    z-index: 3;
    height: 70px;
}

.dynamic-txts li{
    list-style: none;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    animation: words;
}

.dynamic-txts span::before{
    content: "Designer";
    animation: words 10s infinite;
}

.dynamic-txts span::after{
    content: "";
    position: absolute;
    right: -8px;
    height: 90%;
    width: calc(100% + 8px);
    border-left: 3px solid white;
    animation: cursor 1.14s infinite , typing 20s steps(14) infinite;
}


@keyframes cursor {
    to{
        border-left: 3px solid transparent;
    }
}

@keyframes words {
    0%,25%{
        content: "Designer";
    }
    26%,50%{
        content: "Photographer";
    }
    51%,75%{
        content: "Freelancer";
    }
    76%,100%{
        content: "Developer";
    }   
}

@keyframes typing {
    10%,14%,30%,35%,46%,59%,70%,80%,90%,95%{
        width: 0;
    }
    5%,15%,20%,25%,40%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
/* Hero Section End */

/* Start About Section */

.box-shadow-full{
    padding: 3rem 3.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-info p{
     font-size: 18px;
     font-weight: 600;
     line-height: 26px;
     color: rgb(30, 30, 30);
}

.about-info span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(78, 78, 78);
}


.progress, .progress-stacked{
    --bs-progress-bar-bg: #0d6efd !important;
    --bs-progress-border-radius: 0rem !important;
    --bs-progress-bg:#CDE1F8 !important;
}


.skills p{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(30, 30, 30);
}

.skills span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(78, 78, 78);
}

.progress{
    margin-top: 8px;
    margin-bottom: 19px;
}


.about-me h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: rgb(30, 30, 30);
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 35px;
}

.about-me h2::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: #0078FF;
    bottom: 0;
    left: 0;
}

.about-me p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(78, 78, 78);  
    margin-bottom: 16px;
}
/* End About Section */


/* Start Services Section */

.head-section{
    margin-bottom: 64px;
}

.head-section h3
{
   font-weight: 700;
   font-size: 48px;
   line-height: 58px;
   color: rgb(30, 30, 30);
   text-transform: uppercase;
}

.head-section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(78, 78, 78);
}

.head-section::after{
    content: "";
    position: absolute;
    left: 48%;
    width: 1%;
    height: 6px;
    border-left: 50px solid #1885FF;

}

.box .icon{
    margin-bottom: 1rem;
}

.box {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box .ico-circle{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.55;
    font-size: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 0 10px #0078ff;
    transition: all 0.5s;
    color: black;
}

.box .icon i{
    font-size: 40px;
    text-align: center;
}

.box .content h3{
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    color: rgb(30, 30, 30);
    text-transform: uppercase;
}

.box .content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(78, 78, 78);
}

.box:hover .ico-circle{
    box-shadow: 0 0 0 10px #CDE1F8;
    background-color: #0078FF;
    color: #fff;
}

/* End Services Section */



/* Start counter Section */
.counter{
    background-image: url(../images/counters-bg.jpg);
    padding: 8rem 0;
}

.counter .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078FF;
    opacity: 0.7;
}

.counter .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 1.55;
    font-size: 2rem;
    margin: 16px auto;
    box-shadow: 0 0 0 11px #CDE1F8;
}


.counter .icon i{
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;

}

.counter .content p{
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0;
}

.counter .content span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* End counter Section */



/* Start Portfolio Section */

.portfolio{
    padding-top: 64px;
}

.portfolio .card{
    margin-bottom: 3rem;
    backface-visibility: hidden;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.portfolio .card-body{
    padding: 2rem 3% 1rem 4%;
}

.portfolio .card-body h5{
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    color: rgb(30, 30, 30);
}

.portfolio .card-body p{
    font-size: 13px;
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 8px;
}

.portfolio .card-body p span{
    color: rgb(0, 120, 255);
}

.w-like{
    font-size: 2.5rem;
    float: right;
    color: #0078ff;
}

.card .img-work{
    overflow: hidden;
}

.card img{
    transition: all 1s;
}

.card img:hover{
    transform: scale(1.1);
}

/* End Portfolio Section */

/* testimonials Start Section */
.testimonials {
    background-image: url(../images/overlay-bg.jpg);
    padding: 8rem 0;
} 

.testimonials .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078FF;
    opacity: 0.7;
}

.mt-20 {
    margin: 20px 0px 0px;
}

.m-16 {
    margin: 16px 0px 0px;
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
}

.p-testimonials{
    margin: 0px 0px 16px;
    padding: 0px 128px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;

}

/* testimonials End Section */



/* Blog Section Start */
.blog-se{
    padding-top:4rem;
}

.w-10{
    width: 10%;
}



.blog-se .card .card-box{
    content: "";
    position: absolute;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    text-align: center;
}

.blog-se .card-box .card-category{
    display: inline-block;
    padding: 0 15px 5px;
    background-color: #0078FF;
    border-radius: 5px ;
    overflow: hidden;
    margin-bottom: 0;
}

.blog-se .card-box .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;
}

.blog-se .card-body h5{
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    color: black;
    transition: all 0.5s;
}

.blog-se .card-body h5:hover{
    color: #0d6efd;
    cursor: pointer;
}

.blog-se .card img{
    cursor: pointer;
}

.blog-se .card-body p{
    font-size: 16px;
    line-height: 24px;
    color: rgb(78, 78, 78);
    font-weight: 400;
}


.blog-se .card-body {
    margin-top: 0;
}
/* Blog Section End */




/* Contact Section Start */
.contact{
    background-image: url(../images/overlay-bg.jpg);
}

.contact .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078FF;
    opacity: 0.7;
}

.contact .title-text {
    font-size: 32px;
    font-weight: 500;
    color: rgb(30, 30, 30);
    line-height: 38px;
    position: relative;
}


.contact .title-text::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100px;
    height: 3px;
    border: 2px solid #0078ff;

}



form .button{
    padding: 10px 24px;
    color: white;
    border: 0;
    border-radius: 5rem;
    background-color: #0078ff;
    transition: 0.5s;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
}

.li-icon{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.li-icon span{
    color: #0078ff;
    margin-right: 10px;
}

.text-gray{
    color: rgb(78, 78, 78)!important;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.socials ul li {
    display: inline-block;
}

.socials {
    padding: 1.5rem 0;
}

.socials .ico-circle {
    width: 50px;
    height: 50px;
    border: 3px solid #0078ff;
    border-radius: 50%;
    background-color: white;
    align-content: center;
    margin-right: 15px;
    padding: 15px;
    transition: all 0.5s;
}

.socials li a{
    color: black;
    font-size: 19px;
    line-height: 31px;
    font-weight: 400;
}

.socials .ico-circle:hover{
    background-color:#0078ff ;
    box-shadow: 0 0 0 3px #cde1f8;
    color: white;
}

form .button:hover{
    background-color: #0062d3;
    box-shadow: 0 0 0 4px #cde1f8;
}

/* Contact Section End */


/* Footer Start */
footer{
    text-align: center;
    color: white;
    padding: 25px 0;
    background-color: #0062d3;
}

footer .credits a{
    color: white;
    transition: 0.5;
    text-decoration: none;
}



/* Footer End */
@media (max-width:576px) {
    #home .hero-content h1{
        font-size: 40px;
        text-align: center;
    }

    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
        transition: all 2s;
    }
}

